.fade-in img {
  position: relative;
  overflow: hidden;
  animation-name: fadein;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  z-index: -1;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.fade-in p {
  position: relative;
  overflow: hidden;
  animation-name: fadein;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  z-index: -1;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.fade-in h1 {
  position: relative;
  overflow: hidden;
  animation-name: fadein;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  z-index: -1;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
#home {
  flex-direction: row-reverse;
}
#home::before {
  content: "";
  position: absolute;
  background-color: #d2e4e0;
  height: 120vh;
  width: 100%;
  z-index: -1;
  opacity: 0.89;
}

#serve {
  height: auto;
}
#serve h1 {
  font-size: 4rem;
}
#serve p {
  font-size: 1.3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #025;
  padding: 0 5rem;
}
#serve img {
  height: 500px;
  width: 70%;
  margin-top: 100px;
}
.box1 {
  padding-left: 2%;
}
.box1 p {
  color: #025;
  font-size: 1.3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.box1 li {
  color: #025;
  padding: 5px 10px;
  padding-bottom: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#serve3 {
  height: auto;
}

#serve5 {
  display: flex;
  flex-direction: row-reverse;
  padding: 5% 1%;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.boxa h1 {
  text-align: left;
  font-size: 4rem;
  color: #025;
  margin: 20px 30px 40px 0px;
  font-family: Sato, sans-serif;
}
@media screen and (max-width: 720px) {
  .box1 h1 {
    font-size: 1.5rem;
    padding-bottom: 0;
  }
  .box1 {
    padding: 5%;
  }
  #serve p {
    margin: 5%;
    padding: 0;
  }
  #serve h1 {
    font-size: 1.5rem;
    padding-bottom: 0;
  }
  #serve img {
    height: 50%;
    width: 70%;
    margin-top: 5%;
  }
  #serve5 {
      flex-wrap: wrap;
  }
  .boxa h1{
      font-size: 1.5rem;
      margin: 3% 0%;
  }
  #home::before {
    content: "";
    position: absolute;
    background-color: #d2e4e0;
    height: 170vh;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
  }
}
@media screen and (max-width: 480px) {
  #home {
    flex-wrap: wrap;
    margin-top: 15vh;
  }
  #home::before {
    content: "";
    position: absolute;
    background-color: #d2e4e0;
    height: 130vh;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
  }
}