*{
    margin: 0px;
    padding: 0px;
    background-attachment: scroll !important;
}

#navbar{
    display: flex;
    width: 100vw;
    align-items: center;
    height: auto;
    top: 0;
    position:fixed; 
    flex-wrap: wrap;
    margin: 0;
}

#navbar::before{
    content: "";
    position: absolute;
    background-color:white;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
#logo{
     margin-left: 1rem;
     flex-grow: 3;
     
}
#logo h2,h3{
    display:inline;
    font-family: 'Leckerli One';
    font-size: 1.5rem;
}
#logo h2{
    border-radius: 2em;
    padding: 0.3em 0.7em;
    background-color:black;
    color: white;
    
}
#logo h3{
    color: #025;
    font-size: 1.1rem;
}
#logo a{
    text-decoration: none;
    display: block;
    padding: 1em ;
}
#navbar ul{
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-grow: 2.5;
}
#navbar li a{
    text-decoration: none;
    display: block;
    color: #025;
    font-family:'Josefin Slab';
}

#navbar ul li{
    list-style-type: none;
}


.btn{
    border-radius: 5px;
    background-color: #025;
    padding: 1em 3em;
    cursor: pointer;
    width: 30vh;
    border: none;
}
.btn:hover{
    background-color: rgb(66, 95, 141);
    transform: scale(1.05, 1);
    transition-duration: 0.5s;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 29.5vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
    
}
.dropdown-content a {
    color: #025;
    margin: 1.5em 1em;
    font-size: 1.1em;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content a:hover {
    transform: scale(1.05, 1);
}
  
.dropdown:hover .dropdown-content {
    display: block;
    transform: scale(1.05, 1);
   
 }
  

.btn i {
    color: white;
}
.btn span {
    color: white;
}
#home{
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 10vh;
    margin-bottom: 15vh;
}
#home::before{
    content: "";
    position: absolute;
    background-color: #eef0f4;
    width: 100%;
    height: 180vh;
    z-index: -1;
    opacity: 0.89;

}
.box{
    flex:1 45%;
    padding: 5%;
    
}
.box h1{
    text-align: center;
    font-size: 3.8rem;
    color: #8ea5a0;
    margin: 0px 0px -0.3em 0px;
    font-family: :Georgia, 'Times New Roman', Times, serif;
}
.box1 p{
    padding-bottom: 5em;
}

.box1 h1{
    text-align: left;
    font-size: 4rem;
    color: #025;
    margin: 0.5em 0em 0.5em 0;
    font-family: Sato, sans-serif;
}
.box img{
    height: 60%;
    width: 100%;
    border-radius: 10px;
}
.box img:hover{
    opacity: 0.8;
    transform:scale(1.03);
    transition-duration: 1s;
}
#home p{
    padding-bottom: 10px;
    font-size: 1.1rem;
    padding-right: 150px;
    line-height: 2;
    color: #025;
    font-family: Sato, sans-serif;
}
#client {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 25vh;
    width: 100%;    
}
#client::before{
    content: "";
    position: absolute;
    background-color: #025;
    height: 30%;
    width: 100%;
    z-index: -1;
    opacity: 1;
    -webkit-transform: rotate(-2deg) skew(-2deg);
}
.box2{
    text-align: center;
    flex-grow: 1;
}
.box2 h1{
    color: white;
    padding-bottom: 1rem;
    
}
.box2 p{
    color: white;
    
}

#serve{
    background-color:white;
    height: auto;
    margin-top: 15vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 15vh 10% 0 10%;
    align-items: center;
}
#serve h1{
    padding-bottom: 5vh;
    font-size: 4.5rem;
    color: #025;
}
.secondary{
    font-size: 2.1rem;
    
}
.center{
    text-align: center;
    color: #025;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

#services{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 5%;
}

#services .box3{
    flex: 1 40%;
    padding: 2%;
    height: auto;
}
#services .box3 img{
    height: 300px;
    width: 300px;
    display: block;
    margin: 5% auto;
    border-radius: 40px;
    box-shadow: 10px 10px 8px 10px #888888;
}
#services .box3 img:hover{
    opacity: 0.8;
    transform: scaleX(1.5);
    transition-duration: 1s;
}
.box3 p{
    font-size: 1.05rem;
    padding: 5% 20%;
    line-height: 1.5rem;
}
#serve1{
    background-color:#eef0f4;
    height: auto;
    text-align: left;
    padding: 8% 40% 8% 5%; 
}
#serve1 h1{
    padding-bottom: 4rem;
    font-size: 4.5rem;
    color: #025;
}
#serve1 p{
    padding-bottom: 3rem;
    padding-right: 10em;
    font-size: 1.1rem;
    color: #025;
}
#services1{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    background-color:#eef0f4;
    padding: 5%;
}
#services1 .box4{
    flex: 1 25%;
    padding: 2%;
    height: auto;
}
#services1 .box4 img{
    height: 300px;
    width: 300px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
#services1 img:hover{
    transform: scale(1.02);
    opacity: 0.8;
    transition-duration: 1s;
}
#services1 h1{
    margin: 0 10vh;
    padding: 2%;
    cursor: pointer;
}
.left{
    text-align: center;
    color: #025;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#services1 a{
    margin: 0 15vh;
    padding: 2%;
    text-decoration: none;
    display: block;
}
#serve2{
    background-color:#025;
    background-image: url("https://assets.website-files.com/5e80894f63c557e083ed96b4/5e808c24d802d6d97489018c_Lines%201.svg");
    background-position: 100% 0%;
    background-repeat: no-repeat;
    height: auto;
    text-align: left;
    padding: 8% 40% 8% 5%;
}
#serve2 h1{
    padding-bottom: 4rem;
    font-size: 4.5rem;
    color: white;
}
#serve2 p{
    padding-bottom: 3rem;
    padding-right: 10em;
    font-size: 1.1rem;
    color: white;
}
#services2{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 5%;
    background-color:#025;
}
#services2 .box4{
    flex: 1 25%;
    padding: 2%;
    height: auto;
}
#services2 .box4 img{
    height: 300px;
    width: 300px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
#services2 img:hover{
    transform: scale(1.02);
    opacity: 0.8;
    transition-duration: 1s;
}
#services2 h1{
    color: white;
    margin: 0 5vh;
    padding: 2%;
    cursor: pointer;
}

#services2 a{
    color: white;
    margin: 0 7vh;
    padding: 2%;
    text-decoration: none;
    display: block;
}
.btn1{
    border-radius: 5px;
    background-color:white;
    padding: 1em 3em;
    cursor: pointer;
    width: 30vh;
    border: none;
}
.btn1:hover{
    background-color: rgb(188, 197, 211);
    transform: scale(1.05, 1);
    transition-duration: 0.5s;
}
.btn1 i , span{
    color:#025;
}
.box5 img {
    height: 51vh;
    width: 67%;
    border-radius: 10px;
    display: block;
    margin: 13% 0% 0% 13%;
}
.box5 img:hover{
    opacity: 0;
    transition-duration: 2s;
}
.box5::before{
    content: "";
    position: absolute;
    background-color: #025;
    background-image: url("https://assets.website-files.com/5e80894f63c557e083ed96b4/5e808c24d802d6d97489018c_Lines%201.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    width: 35%;
    z-index: -1;
    opacity: 1;
}
.vfx{
    flex: 1 45%;
    padding: 5%;   
}
#serve3{
    display: flex;
    flex-direction: row;
    padding: 5% 1%;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
#serve4{
    background-image: url("./image/for.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    text-align: center;
    padding: 10% 10%;    
}
#serve4 h1{
    padding-top: 10vh;
    padding-bottom:5vh;
    font-size: 4.5rem;
    color: #025;
}
#serve4 p{
    padding-bottom: 5vh;
    font-size: 1.4rem;
    color: #025;
    padding-left: 20%;
    padding-right: 20%;
}
.box6{
    background-color:rgb(184, 200, 224);
    border-radius: 10px;
}
.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5%;
}
.form-group input{
    color: #025;
    border-radius: 5px;
    background-color: rgb(162, 184, 216);
    cursor: pointer;
    width: 300px;
    border: none;
}
.form-group input:hover{
    background-color: #eef0f4;
    transition-duration: 1s;
}
.form-group button{
    width: 300px;
    border: none;
}
::placeholder{
    color: #025;
    padding-left: 2%;
}
#add{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #eef0f4;
    padding: 4% 7%;
}
.box7 h2,h3{
    display: inline;
    font-family: 'Leckerli One';
    font-size: 1rem;
}
.box7{
    flex: 1 25%;
}
.box7 h2{
    border-radius: 35px;
    padding: 10px 16px;
    background-color:black;
    color: white;
}
.box7 a{
    text-decoration: none;
    display: block;
    margin-top: 1rem;
}
.box7 h1{
    margin: 7px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #025;
    cursor: pointer;
    font-size: 1.5rem;
}
.box7 h4{
    margin: 20px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #025;
    font-size:1rem;
}
.bottom{
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 8px 0px;
    background-color: #025;
    color: white;
}
.bottom a {
    padding:0px 8px;
    text-decoration: none;
    color: white;
}
.bottom .top{
    float: right;
    color: white;
    text-decoration: none;
}
.fade-in p{
    position:relative;
    overflow:hidden;
    animation-name:slideup;
    animation-delay:0s;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
    z-index: -1;
}
@keyframes slideup {
  0%{bottom:-30px}
  100%{bottom:0;}
}
#navi{
    display: none;
    position: relative;
}
#menuToggle{
  display: block;
  position: fixed;
  top: 30px;
  left: 30px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a{
  text-decoration: none;
  color: #025;
  
  transition: color 0.3s ease;
}
#menuToggle a:hover
{
  color: tomato;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2; 
  
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #025;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: fixed;
  width: 77%;
  margin: -100px 0px 0 -33px;
  padding: 12%;
  padding-top: 125px;
  
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}
.fade-in h1{
    position:relative;
    overflow:hidden;
    animation-name:slideup;
    animation-delay:0s;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
    z-index: -1;
}
@keyframes slideup {
  0%{bottom:-30px}
  100%{bottom:0;}
}
@media screen and (max-width:720px){
    #navbar{
        justify-content: space-around;
        position: fixed;   
    }
    #add{
        flex-wrap: wrap;
    }
    .box7 h2,h3{
        display: inline;
        font-family: 'Leckerli One';
        font-size: 1rem;
    }
    .box7 h2{
        border-radius: 35px;
        padding: 7px 12px;
        background-color:black;
        color: white;
        font-size: 0.8rem;
    }
    .box7 a{
        text-decoration: none;
        display: block;
        margin-top: 0.5rem;
    }
    .box7 h1{
        margin: 7px 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #025;
        cursor: pointer;
        font-size: 0.6rem;
    }
    .box7 h4{
        margin: 20px 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #025;
    } 
    ul{
        justify-content: space-around;    
    }
    #home{
        flex-wrap: wrap;
        margin-top: 15vh;
    }
    #home .box h1{
        font-size: 1.5rem;
    }
    #serve h1{
        padding-bottom: 5vh;
        font-size: 2.5rem;
        color: #025;
    }
    .btn{
        padding: 0.5em 2em;
        width: auto;
    }
    .btn1{
        padding: 0.5em 2em;
        width: auto;
    }
    .secondary{
        font-size: 1.1rem;   
    }
    #services{
        flex-wrap: wrap;
    }
    #serve1{
        background-color:#eef0f4;
        height: auto;
        text-align: center;
        padding: 4% 2% 4% 2%; 
    }
    #serve1 h1{
        font-size: 2.5rem;
    }
    #serve1 p{
        padding:2%;
        font-size: 1.1rem;
    }
    #serve2{
        text-align: center;
        padding: 4% 2% 4% 2%; 
    }
    #serve2 h1{
        font-size: 2.5rem;
    }
    #serve2 p{
        padding:2%;
        font-size: 1.1rem;
    }
    #serve3 h1{
        font-size: 2.5rem;
    }
    #serve3 p{
        padding:2%;
        font-size: 1.1rem;
    }
    #serve4 h1{
        font-size: 1.8rem;
    }
    #serve4 p{
        padding:2%;
        font-size: 1.1rem;
    }
    #serve4 .form-group{
        display: flex;
        flex-wrap: wrap;
    }
    .form-group input{
        margin: 1%;
        padding:3%;
    }
    .box5::before{
        content: "";
        position: absolute;
        background-color: #025;
        background-image: url("https://assets.website-files.com/5e80894f63c557e083ed96b4/5e808c24d802d6d97489018c_Lines%201.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 55%;
        width: 80%;
        z-index: -1;
        opacity: 1;
    }
    #serve3{
        flex-wrap: wrap;
    }
    #services1{
        flex-wrap: wrap;
    } 
    .bottom{
        text-align: center;
        align-items: center;
        margin: auto;
        padding: 8px 0px;
        background-color: #025;
        color: white;
        font-size: 8px;
    }
    .bottom a {
        padding:0px 2px;
        text-decoration: none;
        color: white;
        
    }
    .bottom .top{
        float: right;
        color: white;
        text-decoration: none;
        padding-right: 15px;
    }
    .dropdown-content {
        min-width: 165px;   
    }
    .dropdown-content a {
        color: #025;
        margin: 1em 0em;
        font-size: 1em;
    }  
}
@media screen and (max-width:480px){
    .dropdown-content a {
        color: #025;
        margin: 0.5em 0em;
        font-size: 0.7em;
    } 
    .dropdown-content{
        min-width: 150px;
    }
    #navi{
        display: block;
        position: relative;
    }
    #navbar{
        display: none;
        background-color: #eef0f4;
    }
    #navi .btn{
        width: 150px;
        display: flex;
        flex-direction: row;
    }
    #navi h5{
        color: white;
    }
    
    #home {
        flex-wrap: wrap;
        margin-top: 8vh;
    }
    #services .box3 img:hover{
        opacity: 0.8;
        transform: scaleX(1.05);
        transition-duration: 1s;
    }
    #services1 .box4 img {
        height: 250px;
        width: 250px;
    }
    #services2 .box4 img {
        height: 250px;
        width: 250px;
    }
    #services .box3 img{
        width: 200px;
        height: 200px;
    }
    #serve1 p {
        padding: 2%;
        font-size: 0.8rem;
    }
    #serve2 p {
        padding: 2%;
        font-size: 0.8rem;
    }
    #serve3 p {
        padding: 4% 2%;
        font-size: 0.8rem;
    }
    #serve4 p {
        padding: 4% 2%;
        font-size: 0.8rem;
    }
    .box3 p {
        font-size:0.7rem;
        padding: 5% 5%;
        line-height: 1.5rem;
    }
    #serve h1{
        font-size: 1.5rem;
    }
    #serve1 h1{
        font-size: 1.5rem;
        padding-bottom: 1rem;
        padding-top: 3vh;
    }
    #serve2 h1{
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    #serve3 h1{
        font-size: 1.5rem;
    }
    #serve4 h1{
        padding: 2vh 1vh 1vh 1vh;
    }
    #services1 a {
        margin: 0 0vh;
        width: auto;
    }
    #services2 a {
        margin: 0 0vh;
        width: auto;
    }
    #services1 h1 {
        margin: 0 5vh;
        padding: 2%;
        cursor: pointer;
        font-size: 1rem;
    }
    #services2 h1 {
        margin: 0 5vh;
        padding: 2%;
        cursor: pointer;
        font-size: 1rem;
    }
    .box5 img {
        height: 35vh;
        width: 60%;
        border-radius: 10px;
        display: block;
        margin: 15% 0% 0% 13%;
    }
    #home p {
        padding-bottom: 10px;
        font-size: 0.8rem;
        padding-right: 0px;
        line-height: 1.5;
        color: #025;
        font-family: Sato, sans-serif;
    }
    #home::before {
        content: "";
        position: absolute;
        background-color: #eef0f4;
        height: 200vh;
        width:100%;
        z-index: -1;
        opacity: 0.89;
    }    
    .box5::before {
        content: "";
        position: absolute;
        background-color: #025;
        background-image: url(https://assets.website-files.com/5e80894…/5e808c2…_Lines%201.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40%;
        width: 80%;
        z-index: -1;
        opacity: 1;
    }
    #client {
        justify-content: flex-end;
        flex-direction: column;
        height: 45vh;   
    }
    #client::before{
        content: "";
        position: absolute;
        background-color: #025;
        height: 50%;
        width: 100%;
        z-index: -1;
        opacity: 1;
        -webkit-transform: rotate(-2deg) skew(-2deg);
    }
    .form-group input{
        width: 200px;
        align-items: center;
    }
    .form-group button{
        width: 200px;
        align-items: center;
    }
    .box2 h1{
        color: white;
        padding-bottom: 0.5rem;
        padding-top: 10vh;
        font-size: 1rem;
    }
    .box7{
        flex: 1 70%;
    }
    .box7 h2,h3{
        display: inline;
        font-family: 'Leckerli One';
        font-size: 0.7rem;
    }
    .box7 h2{
        border-radius: 35px;
        
        background-color:black;
        color: white;
        font-size: 0.7rem;
    }
    .box7 a{
        text-decoration: none;
        display: block;
        margin-top: 0.5rem;
    }
    .box7 h1{
        margin: 0px 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #025;
        cursor: pointer;
        font-size: 0.5rem;
        
    }
    .box7 h4{
        font-size: 1rem;
        margin: 8px 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #025;
        font-stretch: ultra-expanded;
    } 

}
